<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.systematicsheep.IdentifyUser"
    version="0.0.1">
    <name>Account Reader</name>
    <description>Read account names available on device.</description>
    <license>Apache 2.0</license>
    <keywords>cordova,account,android</keywords>

    <repo>https://github.com/mehernosh/cordova-read-identity.git</repo>
    

    <js-module src="www/js/accountreader.js" name="AccountReader">
        <clobbers target="UserIdentities" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AccountReader" >
                <param name="android-package" value="org.systematicsheep.IdentifyUser.AccountReader"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
    		<uses-permission android:name="android.permission.GET_ACCOUNTS" />
        </config-file>

        <source-file src="src/android/AccountReader.java" target-dir="src/org/systematicsheep/IdentifyUser" />
        
    </platform>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AccountReader">
                <param name="ios-package" value="AccountReader"/>
            </feature>
        </config-file>

        <header-file src="src/ios/AccountReader.h" />
        <source-file src="src/ios/AccountReader.m" />
    </platform>
</plugin>
